#homePicture {
  width: 100%;
  object-fit: cover;
}

h1 {
  padding: 0 0 20px 0;
}

#home-header {
  font-size: 50px;
}

#home-header > * {
  padding: 10px 0 0 0;
}

#avery-text {
  color: rgb(255, 0, 0);
}

@media (max-width: 767px) {
  #homePicture {
    width: 70%;
  }
}