/* * {
  font-family: "Poppins", sans-serif;
} */

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
  background-color: #212429;
}

.wrapper {
  margin: 100px auto;
  max-width: 1000px;
  flex: 1;
}

.container-fluid {
  padding: 0px 10px!important;
}

p {
  color: #b4b4b4;
}