* {
  box-sizing: border-box;
}

:root {
  --main-color: #ffffff;
  --accent-color: #5f9ea0;
  --bg-color: #ece8e0;
  --box-shadow: 0 0 1rem gray;
}

#root {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

#nav-header {
  display: flex;
  justify-content:space-between;
  box-shadow: 0 1rem 8rem lightgray;
  background-color: var(--main-color);
}

#nav-header h1 {
  margin: 0 30px;
}

nav {
  padding: 10px 15px;
}

#nav-items {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav a,
nav h4 {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 30px 0 0;
  font-size: 1.25rem;
  font-weight: normal;
}

nav a {
  transition: 0.5s ease;
}

nav a:hover {
  color: var(--accent-color);
  transition: 0.5s ease;
}

nav div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

footer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 250%;
}

footer a {
  margin: 0px 20px 20px 20px;
}

button.btn.btn-secondary.dropdown-toggle {
  background-color: var(--accent-color);
  border: none;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
}

a {
  color: unset;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.page-section {
  width: 1000px;
  margin: 100px auto;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#about a {
  display: inline-block;
  margin: 30px 10px 0px 0px;
  border: 2px solid var(--accent-color);
  color: black;
  transition: 0.5s ease;
  background-color: rgb(95, 158, 160, 0.1);
  text-decoration: none;
  border-radius: 4px;
  padding: 4px;
  text-align: center;
  max-width: 170px;
  width: 100%;
}

#about a:hover {
  transition: 0.5s ease;
  background-color: var(--accent-color);
  color: white;
}

#about-content {
  width: 75%;
}

#about-image-lg {
  width: 250px;
  margin-left: 10px;
}

#about-image-sm {
  display: none;
  width: 100%;
}

.profile-image {
  width: 100%;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

#about-image-sm img {
  float: left;
  width: 150px;
  margin: 5px 10px 0 0;
}

#line-break {
  width: 20px;
  border-bottom: 1px solid;
  margin: 20px 0;
}

#projects header {
  margin: 20px 0;
}

#project-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.project {
  position: relative;
  width: 48%;
  margin: 10px;
  border: 5px solid var(--accent-color);
  border-radius: 10px;
  transition: 0.5s ease;
}

.project img {
  width: 100%;
  border-radius: 5px;
  display: block;
  aspect-ratio: 2;
}

.project:hover {
  transition: 0.5s ease;
  transform: scale(1.01);
  box-shadow: var(--box-shadow);
}

.label {
  position: absolute;
  bottom: 10%;
  background-color: var(--accent-color);
  color: black;
  padding: 2%;
  border-radius: 0 10px 10px 0;
}

.label h2 {
  margin: 0;
}

.label p {
  margin: 0;
}

#contact {
  text-align: center;
}

#contact ul {
  padding: 0;
}

#contact ul li {
  margin: 10px 0;
}

#contact a {
  text-decoration: none;
}

@media screen and (max-width: 1020px) {
  #nav-items {
    width: 100%;
  }

  .page-wrapper {
    margin: 0 15px;
  }

  .page-section {
    width: 100%;
  }

  .project {
    width: 46%;
  }
}

@media screen and (max-width: 700px) {
  #contact-links {
    display: none;
  }

  .dropdown {
    display: flex;
    justify-content: end;
  }

  #about-content {
    width: 100%;
  }

  #about-image-sm {
    display: inline;
  }

  #about-image-lg {
    display: none;
  }

  #first-work,
  .project {
    width: 100%;
  }
}

@media screen and (max-width: 410px) {
  h1 {
    font-size: 2rem;
  }

  nav a {
    font-size: 1rem;
  }

  #about a {
    display: none;
  }

  .label {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 342px) {
  #nav-pages .resume {
    display: none;
  }

  .dropdown-menu .resume {
    display: inline-block;
  }
}

@media screen and (max-height: 768px) {
  #about {
    margin: 10vh auto;
  }
}